
<%= render "layouts/topbanniere" %>


<div class="navbar">

</div>
<div class="navbar">
	<%n=2%>	
	<div>
		<h2>PV : <%= Opponent.last.pv %></h2>
		<h2>PA : <%= Opponent.last.pa %></h2>
	</div>

	<div >	
		<%= render "layouts/persos/perso#{rand(1..7)}" %>
			<h1>
		<%= Opponent.last.name.capitalize %>____a.K.a__ALi
		</h1 >
		<% n-=1 %>
	</div>
	<div ><h1>VS</h1></div>
	<div >	
		<%= render "layouts/persos/perso#{rand(1..7)}" %>
		<h1>
		<%= Persona.last.name.capitalize %>____a.K.a__Ryu
	    </h1>
	</div>
	<div>
		<h2>PV : <%= Persona.last.pv %></h2>
		<h2>PA : <%= Persona.last.pa %></h2>
	</div>
</div>
<div class="navbar">
	  <button type="button" class="btn btn-warning">\_______________FIGHT!</button>
      <button type="button" class="btn btn-success">FIGHT!_______________/</button>
</div>


