
<% content_for("page_header") do %>
 <%= stylesheet_link_tag 'application.css' %>
<% end %>


<div class="head">
  <%= render "layouts/topbanniere" %>
</div>

<div class="joystick">	  
  <%= button_to 'FIGHT COOL', attaque_cool_path, method: :get %>
  <%= button_to 'FIGHT MEDIUM ', attaque_medium_path, method: :get %>
  <%= button_to 'FIGHT HARD ', attaque_hard_path, method: :get %>
</div>




<div class="arena">
	<%n=2%>
	<div>	
		<%= render "layouts/persos/perso#{Opponent.last.avatarnum}g" %>
		<% n-=1 %>
	</div>
	<% c = Persona.last.pv %>	
	<div class="separator"
		<% if c < 10 %>
			style="height: 10px ; width: 0px;" 
		<% elsif c > 10 && c < 20 %>
			style="height: 10px ; width: 150px;"
		<% elsif c > 20 && c < 30 %>
			style="height: 10px ; width: 100px;"
		<% elsif c > 30 && c < 40 %>
			style="height: 10px ; width: 150px;"
		<% elsif c > 40 && c < 50 %>
			style="height: 10px ; width: 200px;"
		<% elsif c > 50 && c < 60 %>
			style="height: 10px ; width: 300px;"
		<% elsif c > 60 && c < 70 %>
			style="height: 10px ; width: 400px;"
		<% elsif c > 70 && c < 80 %>
			style="height: 10px ; width: 600px;"
		<% elsif c > 80 && c < 100 %>
			style="height: 10px ; width: 800px;"
		<% else %>
			style="height: 10px ; width: 1200px;"
		<%end%> 
		></div>
	<div>	
		<%= render "layouts/persos/perso#{Persona.last.avatarnum}d" %>
	</div>
</div>

<div class="report">
  <%= render "layouts/report" %>
</div>


